button{
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 35px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
}
h1{
    color: yellow;
}