p{
    font-family:'Times New Roman', Times, serif;
    color: blue;
    font-weight: bold;
    font-size: 30px;

}
time{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.diva{
    display: flex; 
    flex-flow: column; 
    justify-content: center;
    align-items: center;
     background-color: cornflowerblue;
     width: 100%;
     height: 100vh;
     border-radius: 50px;
     margin-top: 10px;
}
.divb{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;
    border: 2px dotted rgb(1, 26, 248);
    border-radius: 65px;
    width: 80%;
    height: 40vh; 
    padding: 5px;
}