<div style="width: 100%; padding: 10px 0;display: flex; justify-content: center; border-bottom: 1px solid white;">
<h1 >Note Application</h1>
</div>
<div style=" display: flex; justify-content: center;align-items: center; margin-top: 10px; gap: 5px;">
<button  [routerLink]="['./list']">list</button>
<button  [routerLink]="['./reza']">reza</button>
<button  [routerLink]="['./ali']">ali</button>
<button  [routerLink]="['./korosh']">korosh</button>
<button  [routerLink]="['./sami']">sami</button>
<button  [routerLink]="['./hassan']">hassan</button>
</div>
<router-outlet/>
