button{
    background-color: rgb(180, 40, 87);
    color: white;
    border: none;
    height: 40px;
    width: 65px;
    font-weight: bold;
    border-radius: 15px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
