<h1 style="text-align: center;">Note</h1>
<hr/>
<div style="width: 100%; display: flex;flex-flow: column; justify-content: center; border: 1px solid white; border-radius: 20px; padding: 10px; margin: 10px 0;">
    <div style="width: 100%;display: flex; align-items: center; justify-content: space-between;">
        <p>this is a default note,you can change it</p>
        <time>1403/9/5</time>
         </div>
         <div style="width: 100%;display: flex; align-items: center; justify-content:flex-end; gap: 10px; ">
            <button>edit</button>
            <button>delete</button>
         </div>

</div>
<div style="width: 100%; display: flex;flex-flow: column; justify-content: center; border: 1px solid white; border-radius: 20px; padding: 10px; margin: 10px 0;">
    <div style="width: 100%;display: flex; align-items: center; justify-content: space-between;">
        <p>this is a default note,you can change it</p>
        <time>1403/9/5</time>
         </div>
         <div style="width: 100%;display: flex; align-items: center; justify-content:flex-end; gap: 10px; ">
            <button>edit</button>
            <button>delete</button>
         </div>

</div>
