<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>noteapp</title>
</head>
<body>
<div class="first-title">
<p class="p1">notes</p>
</div>
<div class="one-div" style="border: 2px solid white; width: 1307px; height: 200px; border-radius: 75px;">
<p class="p2"> This is a default note, you can change it. </p>
<button class="edit1">Edit</button>
<button class="delete1">Delete</button>
<form>
    <label for="date" style="font-size: 16px;color: purple;position: absolute;top: 324px;left: 927px;">Date of registration:</label>
    <input type="date" id="date" name="date" style="background-color:palevioletred; border: 2px solid black;border-radius: 10px;padding: 4px;font-size: 15px;position: absolute;top: 318px;px ;left: 1061px;">
    <input type="submit" value="registration" style="background-color: palevioletred;border: 2px solid black;border-radius: 10px;padding: 5px;font-size: 15px;position: absolute;top: 319px;left: 1200px;">
</form>
</div>
<div class="two-div" style="border: 2px solid white; width: 1307px;height: 200px;border-radius: 75px; margin-top: 10px;">
<p class="p3" >This is another default note, you can change it.</p>
<button class="edit2">Edit</button>
<button class="delete2">Delete</button>
<form>
    <label for="date" style="font-size: 16px;color: purple;position: absolute;top: 540px;left: 927px;">Date of registration:</label>
    <input type="date" id="date" name="date" style="background-color:palevioletred; border: 2px solid black;border-radius: 10px;padding: 4px;font-size: 15px;position: absolute;top: 535px;px ;left: 1061px;">
    <input type="submit" value="registration" style="background-color: palevioletred;border: 2px solid black;border-radius: 10px;padding: 5px;font-size: 15px;position: absolute;top: 535px;left: 1200px;">
</form>
</div>
<a href="mailto:yeganehgoeeni.8@gmail.com" style="color: rgb(146, 224, 255); font-size: 20px; position: absolute; top: 725px; left: 625px;">contact us</a>
</body>
</html>