button{
    background-color: rgb(62, 244, 250) ;
    color: white;
    border: none;
    border-radius: 70px;
    margin-top: 10px;
    width: 60px;
    height: 40px;
}
h1{
    color: rgb(62, 244, 250);
}
div{
    width: 100%; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    border:1px solid rgb(62, 244, 250);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin: 10px 0;
    align-items: center;
}
input{
    margin-bottom: 10px;
}