<div style=" width: 100%; display: flex;flex-flow: column; justify-content: center;  border:1px solid white; border-radius: 10px; padding: 10px; margin-top: 5px; margin: 10px 0; ">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between; ">
        <p style="font-size: 20px;">this is a note for testing</p>
        <time>1403/9/12</time>
    </div>
    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end ; gap: 8px;">
        <button>Delete</button>
        <button>Edit</button>
    </div>

</div>
<div style=" width: 100%; display: flex;flex-flow: column; justify-content: center;  border:1px solid white; border-radius: 10px; padding: 10px; margin-top: 5px; ">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between; ">
        <p style="font-size: 20px;">this is a note for testing</p>
        <time>1403/9/12</time>
    </div>
    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end ; gap: 8px;">
        <button>Delete</button>
        <button>Edit</button>
    </div>

</div>