button{
    background-color: palevioletred;
    color: black;
    border: none;
    height: 45px;
    width: 65px;
    font-weight: bold;
    border-radius: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}